#lix-calculator {
    .inside {
        margin: 0;
        padding: 0;
    }
}

#lix-calculator-content {
    * {
        box-sizing: border-box;
    }

    .col {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        padding: 15px;

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .col + .col {
        border-left: 1px solid #e5e5e5
    }

    .col:nth-child(4n + 1) {
        border-left: none;
    }

    label {
        display: block;
        cursor: default;
        font-weight: bold;
        float: left;

        small {
            display: block;
            text-transform: none;
            font-weight: normal;
            font-size: .9em;
            color: #999;
        }
    }

    .values {
        float: right;
    }

    em.value {
        display: block;
        transition: all 300ms;
        font-style: normal;
        font-weight: 900;
        color: #ddd;
        text-align: right;
    }

    span.value,
    .value {
        display: block;
        font-size: .9em;
        transition: all 300ms;
        text-align: right;
    }

    #lix-calculator-total.col {
        display: block;
        width: 100%;
        border-left: none;
        border-top: 1px solid #e5e5e5
    }
}

#lix-calculator-total {
    background-color: #f9f9f9;
    font-size: 1.2em;
    line-height: 1.5;
}

#side-sortables #lix-calculator-content {
    * {
        box-sizing: border-box;
    }

    .col {
        display: block;
        width: 100%;
    }

    .col + .col {
        border: none;
        border-top: 1px solid #E5E5E5;
    }
}
