#lix-calculator-content {

    padding: 15px;

    .row {
        display: table;
        width: 100%;

        & + .row {
            margin-top: 15px;
        }

        .col {
            display: table-cell;
            width: 50%;
        }
    }

    label {
        display: block;
        text-transform: uppercase;
        cursor: default;
        font-weight: bold;

        small {
            display: block;
            text-transform: none;
            font-weight: normal;
            font-size: .9em;
            color: #999;
        }
    }

    em.value {
        display: inline-block;
        margin-top: 5px;
        padding: 10px;

        font-size: 3em;
        line-height: 1;
        font-style: normal;
        font-weight: 900;
    }

    .value.lix,
    .value.parahraph-ratio {
        background-color: #ddd;
        transition: all 300ms;
    }

    .value.readability,
    .value.paragraph-ratio-rating {
        display: inline-block;
        padding: 0 10px 5px;
        background-color: #ddd;
        transition: all 300ms;
    }
}
